.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
}
.submit-form {
    max-width: 300px;
    margin: auto;
}
.edit-form {
    max-width: 300px;
    margin: auto;
}
.window { 
    width:50%;
    position:relative;
    float:left;
    height:100%;
  
  }
  .pane { 
    width: 100%;
    position: relative;
    height: 50%;
    text-align: center;
   }
   #pane3{
     height: 100%;
   }
  #window1 {
        
  }
  #window2 {
  }
  .messageList {
      padding-right: 2rem;
  }
  #messages {
      width: 100%;

  }
  #wrap {
    height: 100%;
    position: relative;
    
}
.addFriendInput {
    display: inline;
}
.friends {
    height: 100%;
    align-content: center;
}

form#publishMessageForm {
    height: 100%;
}

#publishMessageForm > div > input {
    width: 90%;
}
#publishMessageForm > div > textarea {
    width: 90%;
    height: 100%;
}
#pane2 > .DifferentService {
    height: 25rem;
}
html {
    height: 100%;
}
.labelMessageForm > textarea {
    height: 100%;
}
.user-box {
    height: 40%; 
}
.user-box#type {
    height: 10%;
}
.submit {
    margin: 3%;
}
